body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.menu{
  padding-top: 10px;
}
.active{
  color: #00aaff;
}
.menu span{
  padding: 10px;
}

.menu a {
  text-decoration: none;
}

.container{
  margin: 0 10%;
}

.signup-title, .login-title {
  margin-bottom: 50px;
  text-align: center;
}

.message {
  text-align: center;
}
.signup-form, .login-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signup-form input, .login-form input {
  display: block;
  margin-bottom: 15px;
  padding: 7px 10px;
  outline: none;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 16px;
}

.button {
  width: 217px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  background-color: #00aaff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:active {
  transform: scale(101%);
}

.message{
  margin-bottom: 5px;
}

.dashboard-form{
  width: 225px;
  display: flex;
  flex-direction: column;
}

.dashboard-form__label-wrap{
  display: flex;

}

.dashboard-form input{
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  outline: none;
}

.dashboard-form input:disabled{
  color: black;
}

.dashboard-form__input_disabled-true {
  border: none;
  background-color: #fff;
}

.dashboard-form__input_disabled-false {
  border: none;
  border: 1px solid #b2b2b2;
  background-color: #eeeeee;
}

.login-google-oauth-wrap{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-google-oauth{
  color: black;
  text-align: center;
  text-decoration: none;
}
.login-google-oauth:hover {
  transform: scale(101%);
  border-bottom: 1px solid black;
}

.user-card{
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

.user-link {
  text-decoration: none;
  color: #00aaff;
}

.search-block {
  margin-bottom: 10px;
}